---
import "@/styles/global.css";

import SpeedInsights from "@vercel/speed-insights/astro";

import NavMenu from "@/components/NavMenu.astro";
import SEO from "@/components/SEO.astro";
import { Toaster } from "@/components/ui/sonner";
import { Typography } from "@/components/ui/typography";
import GithubIcon from "@/icons/github.astro";
import MarkdownIcon from "@/icons/markdown.astro";

interface Props {
  title: string;
  description?: string;
  image?: string;
  keywords?: string;
  type?: "website" | "article";
  jsonLd?: Record<string, any>;
}

const {
  title,
  description = "Markdown badges generator for GitHub README. Browse 600+ badges for languages, frameworks, tools and platforms and copy ready-to-use Markdown instantly.",
  image = "/images/banners/og.png",
  keywords = "markdown badge, shield badges, readme badges, github profile badges, github badges, gfrancv",
  type = "website",
  jsonLd,
} = Astro.props;

const year = new Date().getFullYear();
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      image={image}
      keywords={keywords}
      type={type}
      jsonLd={jsonLd}
    />
    <SpeedInsights />
  </head>
  <body
    class="bg-[#121212] bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-size-[14px_24px] flex flex-col min-h-screen"
  >
    <header>
      <nav class="fixed w-full z-20 top-0 left-0 backdrop-blur-lg">
        <div
          class="max-w-5xl flex flex-wrap items-center md:justify-between justify-center md:gap-0 gap-4 mx-auto p-4"
        >
          <a href="/" class="flex items-center space-x-3">
            <MarkdownIcon class="stroke-[#f1f1ef]" />
            <Typography
              as="span"
              size="h3"
              color="white"
              className="self-center whitespace-nowrap"
            >
              Markdown Badges
            </Typography>
          </a>
          <NavMenu />
          <div>
            <a
              href="https://github.com/GFrancV/markdown-badges"
              class="gap-2 md:flex items-center hidden text-white focus:ring-4 focus:outline-hidden font-medium rounded-lg text-sm px-4 py-2 text-center focus:ring-fuchsia-300"
              target="_blank"
              rel="noopener"
            >
              <GithubIcon class="w-6 fill-white" />
              View Repo
            </a>
          </div>
        </div>
      </nav>
    </header>
    <main class="grow w-full max-w-5xl mx-auto pt-36 pb-12 px-6">
      <slot />
    </main>
    <footer class="p-4 flex align-middle justify-center">
      <Typography color="muted" className="text-center">
        Created with ❤️ by
        <a
          href="https://gfrancv.vercel.app"
          class="hover:underline"
          target="_blank"
          rel="noopener"
        >
          GFrancV
        </a>
        <br />
        ©GFrancV - {year}
      </Typography>
    </footer>
    <style is:global>
      @supports selector(::-webkit-scrollbar) {
        @media (hover: hover) {
          ::-webkit-scrollbar {
            width: 10px;
            height: 10px;
            border-radius: 10px;
          }

          ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #666;
            border: 2px solid transparent;
            background-clip: content-box;
          }

          ::-webkit-scrollbar-thumb:active {
            background-color: #666;
          }

          ::-webkit-scrollbar-track {
            background: #1e1e1e;
          }

          ::-webkit-scrollbar-corner {
            background: #1e1e1e;
          }
        }
      }

      @supports not selector(::-webkit-scrollbar) {
        * {
          scrollbar-color: #1e1e1e transparent;
          scrollbar-width: thin;
        }
      }
    </style>
    <Toaster client:load />
  </body>
</html>
